---
---

@import "{{ site.theme }}";

.social-share-buttons {
    margin-top: 0em;
}

.form-post {
    background: #4B9130;
    background-image: url(/img/paper-15.png);
    padding: 3em 1em 5em 1em;
    text-align: center;
    box-shadow: 0 0 19px #aaa;
}
